body {
  background-color: #E4F9F5;
}

img {

}

hr {

  border-color: #30E3CA;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

h1, h3 {
  color: #11999E;
}
